* {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;

    background: linear-gradient(to right, rgb(9, 108, 221), rgb(22, 196, 196));
    animation: fundo 19s ease-in-out infinite;
    background-size: 300% 300%;
    margin-top: 5.5%;
}



#div-principal {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    color: white;
}

.div-princ-content {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 70px;
}

.div-princ-content:nth-child(1),
.div-princ-content:nth-child(2),
.div-princ-content:nth-child(3) {
    border-top: none;
}
.div-princ-content:nth-child(1),
.div-princ-content:nth-child(4),
.div-princ-content:nth-child(7) {
    border-left: none;
}
.div-princ-content:nth-child(7),
.div-princ-content:nth-child(8),
.div-princ-content:nth-child(9) {
    border-bottom: none;
}
.div-princ-content:nth-child(3),
.div-princ-content:nth-child(6),
.div-princ-content:nth-child(9) {
    border-right: none;
}

#div-tela-win {
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    display: none;
}

#div-select-dificuldades {
    text-align: center;
    margin-top: 40px;
}



#h1-rodada {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(230, 222, 222);
}

.div-princ-content .x{
    pointer-events: none;
}

.div-princ-content .o{
    pointer-events: none;
}

#select-dificuldades {
    margin-top: 26px;
    transform: translateX(590px);
    text-align: center;
}

#span-bt-pos-win-reniciar {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 3px;
    color: white;
    border: none;
    font-size: 3.5ch;
    background: rgb(7, 95, 209);

    margin-bottom: 69px;
    margin-top: 27px;
}
#span-bt-pos-win-reniciar:hover {
    background: rgb(9, 136, 209);
}

#span-msg-win {
    font-size: 7ch;
    color: white;
    width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    animation: comecandoTexto 1s steps(10);
}

#footer-msg-obg {
    color: white;
    font-size: 2ch;
}

#show-win-msg {
    display: flex;
}

#btJogarModoFacil {
    animation: btModoFacil 7s infinite;
}
#btJogarModoDificil {
    display: block;
    margin-left: 47.6%;
    text-align: center;
    animation: btModoDificil 7s infinite;
}
#btJogarModoContraSi {
    display: block;
    text-align: center;
    margin-left: 45%;
    animation: btModoSi 7s infinite;
}
button {
    background: linear-gradient(to right, rgb(31, 33, 168), rgb(8, 52, 109));
    border: 0px;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background: rgb(9, 133, 116) !important;
}
button:disabled {
    opacity: 0.5;
    background: rgb(31, 33, 168) !important;
}

#span-modo-selecionado {
    float: left;
    color: rgb(221, 212, 212);
    margin-left: 1%;
    font-size: 14px;
}



@keyframes fundo {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 100%;
    }
}

@keyframes btModoSi {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes btModoFacil {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes btModoDificil {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes comecandoTexto {
    from {
        width: 0;
    }
}

@keyframes mostrandoTexto {
    50% {
        border-color: transparent;
    }
}


@media only screen and (max-width: 700px) {

    body {
        margin-top: 6%;
    }

    #btJogarModoContraSi {
        margin-left: 36.4%;
    }

    #btJogarModoDificil {
        margin-left: 43.7%;
    }
    
}
